html {
  scrollbar-gutter: stable;
  scrollbar-width: thin;
}

*,
*::before,
*::after,
*::details-content {
  box-sizing: border-box;
  padding: 0;
}

*:not(dialog) {
  margin: 0;
}

:target {
  scroll-margin-block: 2em;
}

a,
button {
  cursor: pointer;
}

button {
  color: inherit;
}

button:disabled,
button[aria-disabled='true'] {
  cursor: default;
}

button,
input,
textarea,
select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

textarea {
  field-sizing: content;
}

a {
  text-underline-position: from-font;
}

pre {
  white-space: pre-wrap;
}

code {
  word-break: break-all;
}

pre,
table,
img,
svg,
picture,
video,
canvas,
iframe {
  max-inline-size: 100%;
  min-inline-size: 0;

  display: block;
}

[id] {
  scroll-margin-top: 2rem;
}
